{% extends '::backend.html.twig' %}

{% block body -%}
    <div id="content" class="span10">
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="#">CMS</a>
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">Korisnici</a></li>
			</ul>

			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon user"></i><span class="break"></span>Lista korisnika</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th>Id</th>
								  <th>Korisničko ime</th>
								  <th>Lozinka (kriptirano)</th>
								  <th>Akcije</th>
							  </tr>
						  </thead>
						  <tbody>
						  {% for user in users|reverse(true) %}
							<tr>
								<td>{{ user.id }}</td>
								<td class="center">{{ user.username }}</td>
								<td class="center">{{ user.password|slice(0,20) }}</td>
								<td class="center">
									<a class="btn btn-info" href="{{ path('cms_user_edit', { 'id': user.id }) }}">
										<i class="halflings-icon white edit"></i>
									</a>
								</td>
							</tr>
						  {% endfor %}
						  </tbody>
						  <br>
						  <a class="btn btn-success" href="{{ path('cms_user_new') }}">
						  <i class="halflings-icon white pencil"></i>Izradi korisnika
						  </a>
						  <br>
					  </table>
					</div>
				</div><!--/span-->
			</div><!--/row-->
	</div><!--/.fluid-container-->
			<!-- end: Content -->
		</div><!--/#content.span10-->
{% endblock %}
